/* AuthForm Styles */
.auth-form {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
  }
  
  .auth-form h2 {
    margin-bottom: 20px;
  }
  
  .auth-form button {
    margin-top: 10px;
  }
  